.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.25s; /*takes two values, what we want to transition and how long it will take */
  vertical-align: top;
}

.subscribe-button:hover {
  /* only applies the following styles when we "hover" over the button */
  opacity: 0.7;
}

.subscribe-button:active {
  /*only when we click the button*/
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.25s, color 0.25s;
  vertical-align: top;
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-button:active {
  opacity: 0.75;
}

.tweet-button {
  background-color: rgb(29, 161, 242);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border-radius: 18px; /* the half of the height gives it that round effect */
  font-size: 15px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  transition: box-shadow 0.25s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  /*takes 4 values, horizontal, vertical, blur, color, the rgba is where a = opacity*/
}
